NET  "CLK"  LOC = "21";
NET  "PMOD_1"  LOC = "78";
NET  "PMOD_2"  LOC = "79";
NET  "PMOD_3"  LOC = "80";
NET  "PMOD_4"  LOC = "81";
NET  "PMOD_7"  LOC = "87";
NET  "PMOD_8"  LOC = "88";
NET  "PMOD_9"  LOC = "90";
NET  "PMOD_10"  LOC = "91";
NET  "LED1"  LOC = "99";
NET  "LED2"  LOC = "98";
NET  "LED3"  LOC = "97";
NET  "LED4"  LOC = "96";
NET  "LED5"  LOC = "95";
NET  "TXD"  LOC = "105";
NET  "SD"  LOC = "107";
NET  "RXD"  LOC = "106";
NET  "J1_3"  LOC = "112";
NET  "J1_4"  LOC = "113";
NET  "J1_5"  LOC = "114";
NET  "J1_6"  LOC = "115";
NET  "J1_7"  LOC = "116";
NET  "J1_8"  LOC = "117";
NET  "J1_9"  LOC = "118";
NET  "J1_10"  LOC = "119";
NET  "DCDN"  LOC = "1";
NET  "DSRN"  LOC = "2";
NET  "DTRN"  LOC = "3";
NET  "CTSN"  LOC = "4";
NET  "RTSN"  LOC = "7";
NET  "RS232_TX"  LOC = "8";
NET  "RS232_RX"  LOC = "9";
NET  "J3_3"  LOC = "62";
NET  "J3_4"  LOC = "61";
NET  "J3_5"  LOC = "60";
NET  "J3_6"  LOC = "56";
NET  "J3_7"  LOC = "48";
NET  "J3_8"  LOC = "47";
NET  "J3_9"  LOC = "45";
NET  "J3_10"  LOC = "44";
