

##############################################################################
# Pin LOC Constraints #
##############################################################################
NET "A_CLK"			LOC = "P85" 		| IOSTANDARD = LVTTL;

#Peripherals#############################################################
NET "BTN<0>"        		LOC = "P102" 		| IOSTANDARD = LVTTL;
NET "BTN<1>"        		LOC = "P101" 		| IOSTANDARD = LVTTL;
	

##PMOD1#############################################################################
NET "PMOD1" 			LOC = "P5" 		| IOSTANDARD = LVTTL;

##PMOD2#############################################################################
NET "PMOD2" 			LOC = "P142" 		| IOSTANDARD = LVTTL;

##PMOD3#############################################################################
NET "PMOD3" 			LOC = "P138" 		| IOSTANDARD = LVTTL;

##PMOD4#############################################################################
NET "PMOD4" 			LOC = "P112" 		| IOSTANDARD = LVTTL;





