set_io A_CLK P85    
set_io LED[0]  P105    
set_io LED[1]  P104    
set_io BTN[0]  P102    
set_io BTN[1]  P101    
set_io SW[0]  P99    
set_io SW[1]  P100    
set_io PMOD1[0]  P5    
set_io PMOD1[1]  P2    
set_io PMOD1[2]  P100    
set_io PMOD1[3]  P16    
set_io PMOD1[4]  P88    
set_io PMOD1[5]  P92    
set_io PMOD1[6]  P93    
set_io PMOD1[7]  P94    
set_io PMOD2[0]  P142    
set_io PMOD2[1]  P141    
set_io PMOD2[2]  P15    
set_io PMOD2[3]  P14    
set_io PMOD2[4]  P144    
set_io PMOD2[5]  P143    
set_io PMOD2[6]  P140    
set_io PMOD2[7]  P139    
set_io PMOD3[0]  P138    
set_io PMOD3[1]  P137    
set_io PMOD3[2]  P124    
set_io PMOD3[3]  P123    
set_io PMOD3[4]  P119    
set_io PMOD3[5]  P118    
set_io PMOD3[6]  P117    
set_io PMOD3[7]  P116    
set_io PMOD4[0]  P112    
set_io PMOD4[1]  P111    
set_io PMOD4[2]  P132    
set_io PMOD4[3]  P131    
set_io PMOD4[4]  P115    
set_io PMOD4[5]  P114    
set_io PMOD4[6]  P134    
set_io PMOD4[7]  P133    
set_io SYS_SPI_MOSI P80    
set_io SYS_SPI_MISO P75    
set_io SYS_SPI_SCK P78    
set_io RP_SPI_CE0N P79    
set_io SYS_SDA P98    
set_io SYS_SCL P97    
set_io SYS_TX P83    
set_io SYS_RX P82    
set_io RP_GPIO_GCLK P95    
set_io RP_GPIO_GEN2 P81    
set_io ARD_SCK P84    
set_io ARD_MISO P87    
set_io ARD_MOSI P51    
set_io ARD_SS P74    
set_io ARD_D9_FLSH_DI P64    
set_io ARD_D8_FLSH_CS P38    
