NET  "A_CLK"  LOC="B8";
NET  "B_CLK"  LOC="U9";
NET  "SEG<0>"  lOC="L18"; 
NET  "SEG<1>"  lOC="F18"; 
NET  "SEG<2>"  lOC="D17"; 
NET  "SEG<3>"  lOC="D16"; 
NET  "SEG<4>"  lOC="G14"; 
NET  "SEG<5>"  lOC="J17"; 
NET  "SEG<6>"  lOC="H14"; 
NET  "DP"  LOC="C17";
NET  "AN<0>"  lOC="F17"; 
NET  "AN<1>"  lOC="H17"; 
NET  "AN<2>"  lOC="C18"; 
NET  "AN<3>"  lOC="F15"; 
NET  "LED<0>"  lOC="J14"; 
NET  "LED<1>"  lOC="J15"; 
NET  "LED<2>"  lOC="K15"; 
NET  "LED<3>"  lOC="K14"; 
NET  "LED<4>"  lOC="E16"; 
NET  "LED<5>"  lOC="P16"; 
NET  "LED<6>"  lOC="E4"; 
NET  "LED<7>"  lOC="P4"; 
NET  "SW<0>"  lOC="G18"; 
NET  "SW<1>"  lOC="H18"; 
NET  "SW<2>"  lOC="K18"; 
NET  "SW<3>"  lOC="K17"; 
NET  "SW<4>"  lOC="L14"; 
NET  "SW<5>"  lOC="L13"; 
NET  "SW<6>"  lOC="N17"; 
NET  "SW<7>"  lOC="R17"; 
NET  "BTN<0>"  lOC="B18"; 
NET  "BTN<1>"  lOC="D18"; 
NET  "BTN<2>"  lOC="E18"; 
NET  "BTN<3>"  lOC="H13"; 
NET  "VGARED<0>"  lOC="R9"; 
NET  "VGARED<1>"  lOC="T8"; 
NET  "VGARED<2>"  lOC="R8"; 
NET  "VGAGREEN<0>"  lOC="N8"; 
NET  "VGAGREEN<1>"  lOC="P8"; 
NET  "VGAGREEN<2>"  lOC="P6"; 
NET  "VGABLUE<0>"  lOC="U5"; 
NET  "VGABLUE<1>"  lOC="U4"; 
NET  "HSYNC_N"  LOC="T4";
NET  "VSYNC_N"  LOC="U3";
NET  "PS2C"  LOC="R12";
NET  "PS2D"  LOC="P11";
NET  "JA_1"  LOC="L15";
NET  "JA_2"  LOC="K12";
NET  "JA_3"  LOC="L17";
NET  "JA_4"  LOC="M15";
NET  "JA_7"  LOC="K13";
NET  "JA_8"  LOC="L16";
NET  "JA_9"  LOC="M14";
NET  "JA_10"  LOC="M16";
NET  "JB_1"  LOC="M13";
NET  "JB_2"  LOC="R18";
NET  "JB_3"  LOC="R15";
NET  "JB_4"  LOC="T17";
NET  "JB_7"  LOC="P17";
NET  "JB_8"  LOC="R16";
NET  "JB_9"  LOC="T18";
NET  "JB_10"  LOC="U18";
NET  "JC_1"  LOC="G15";
NET  "JC_2"  LOC="J16";
NET  "JC_3"  LOC="G13";
NET  "JC_4"  LOC="H16";
NET  "JC_7"  LOC="H15";
NET  "JC_8"  LOC="F14";
NET  "JC_9"  LOC="G16";
NET  "JC_10"  LOC="J12";
NET  "RTS"  LOC="J13";
NET  "CTS"  LOC="M18";
NET  "RXD"  LOC="N18";
NET  "TXD"  LOC="P18";
NET  "RS_RX"  LOC="U6";
NET  "RS_TX"  LOC="P9";
NET  "MEMOE"  LOC="T2";
NET  "MEMWR"  LOC="N7";
NET  "RAMADV"  LOC="J4";
NET  "RAMCS"  LOC="R6";
NET  "RAMCLK"  LOC="H5";
NET  "RAMCRE"  LOC="P7";
NET  "RAMLB"  LOC="K5";
NET  "RAMUB"  LOC="K4";
NET  "RAMWAIT"  LOC="F5";
NET  "FLASHRP"  LOC="T5";
NET  "FLASHCS"  LOC="R5";
NET  "FLASHSTSTS"  LOC="D3";
NET  "MEMADR<1>"  lOC="J1"; 
NET  "MEMADR<2>"  lOC="J2"; 
NET  "MEMADR<3>"  lOC="H4"; 
NET  "MEMADR<4>"  lOC="H1"; 
NET  "MEMADR<5>"  lOC="H2"; 
NET  "MEMADR<6>"  lOC="J5"; 
NET  "MEMADR<7>"  lOC="H3"; 
NET  "MEMADR<8>"  lOC="H6"; 
NET  "MEMADR<9>"  lOC="F1"; 
NET  "MEMADR<10>"  lOC="G3"; 
NET  "MEMADR<11>"  lOC="G6"; 
NET  "MEMADR<12>"  lOC="G5"; 
NET  "MEMADR<13>"  lOC="G4"; 
NET  "MEMADR<14>"  lOC="F2"; 
NET  "MEMADR<15>"  lOC="E1"; 
NET  "MEMADR<16>"  lOC="M5"; 
NET  "MEMADR<17>"  lOC="E2"; 
NET  "MEMADR<18>"  lOC="C2"; 
NET  "MEMADR<19>"  lOC="C1"; 
NET  "MEMADR<20>"  lOC="D2"; 
NET  "MEMADR<21>"  lOC="K3"; 
NET  "MEMADR<22>"  lOC="D1"; 
NET  "MEMADR<23>"  lOC="K6"; 
NET  "MEMDB<0>"  lOC="L1"; 
NET  "MEMDB<1>"  lOC="L4"; 
NET  "MEMDB<14>"  lOC="L6"; 
NET  "MEMDB<3>"  lOC="M4"; 
NET  "MEMDB<4>"  lOC="N5"; 
NET  "MEMDB<5>"  lOC="P1"; 
NET  "MEMDB<6>"  lOC="P2"; 
NET  "MEMDB<7>"  lOC="R2"; 
NET  "MEMDB<8>"  lOC="L3"; 
NET  "MEMDB<9>"  lOC="L5"; 
NET  "MEMDB<10>"  lOC="M3"; 
NET  "MEMDB<11>"  lOC="M6"; 
NET  "MEMDB<12>"  lOC="L2"; 
NET  "MEMDB<13>"  lOC="N4"; 
NET  "MEMDB<14>"  lOC="R3"; 
NET  "MEMDB<15>"  lOC="T1"; 
NET  "EPPASTB"  LOC="V14";
NET  "EPPDSTB"  LOC="U14";
NET  "EPPWAIT"  LOC="N9";
NET  "EPPDB<0>"  lOC="R14"; 
NET  "EPPDB<1>"  lOC="R13"; 
NET  "EPPDB<2>"  lOC="P13"; 
NET  "EPPDB<3>"  lOC="T12"; 
NET  "EPPDB<4>"  lOC="N11"; 
NET  "EPPDB<5>"  lOC="R11"; 
NET  "EPPDB<6>"  lOC="P10"; 
NET  "EPPDB<7>"  lOC="R10"; 
NET  "PIO<0>"  lOC="B4"; 
NET  "PIO<1>"  lOC="A4"; 
NET  "PIO<2>"  lOC="C3"; 
NET  "PIO<3>"  lOC="C4"; 
NET  "PIO<4>"  lOC="B6"; 
NET  "PIO<5>"  lOC="D5"; 
NET  "PIO<6>"  lOC="C5"; 
NET  "PIO<7>"  lOC="F7"; 
NET  "PIO<8>"  lOC="E7"; 
NET  "PIO<9>"  lOC="A6"; 
NET  "PIO<10>"  lOC="C7"; 
NET  "PIO<11>"  lOC="F8"; 
NET  "PIO<12>"  lOC="D7"; 
NET  "PIO<13>"  lOC="E8"; 
NET  "PIO<14>"  lOC="E9"; 
NET  "PIO<15>"  lOC="C9"; 
NET  "PIO<16>"  lOC="A8"; 
NET  "PIO<17>"  lOC="G9"; 
NET  "PIO<18>"  lOC="F9"; 
NET  "PIO<19>"  lOC="D10"; 
NET  "PIO<20>"  lOC="A10"; 
NET  "PIO<21>"  lOC="B10"; 
NET  "PIO<22>"  lOC="A11"; 
NET  "PIO<23>"  lOC="D11"; 
NET  "PIO<24>"  lOC="E10"; 
NET  "PIO<25>"  lOC="B11"; 
NET  "PIO<26>"  lOC="C11"; 
NET  "PIO<27>"  lOC="E11"; 
NET  "PIO<28>"  lOC="F11"; 
NET  "PIO<29>"  lOC="E12"; 
NET  "PIO<30>"  lOC="F12"; 
NET  "PIO<31>"  lOC="A13"; 
NET  "PIO<32>"  lOC="B13"; 
NET  "PIO<33>"  lOC="E13"; 
NET  "PIO<34>"  lOC="A14"; 
NET  "PIO<35>"  lOC="C14"; 
NET  "PIO<36>"  lOC="D14"; 
NET  "PIO<37>"  lOC="B14"; 
NET  "PIO<38>"  lOC="A16"; 
NET  "PIO<39>"  lOC="B16"; 
NET  "USBCLK"  LOC="T15";
NET  "USBOE"  LOC="V15";
NET  "USBWR"  LOC="V9";
NET  "USBPKTEND"  LOC="V12";
NET  "USBDIR"  LOC="T16";
NET  "USBMODE"  LOC="U15";
NET  "USBADR<0>"  lOC="T14"; 
NET  "USBADR<1>"  lOC="V13"; 
NET  "USBRDY"  LOC="U13";
NET  "USBFLAG"  LOC="V16";
