#
# Olimex ARM-USB-OCD-H
#
# http://www.olimex.com/dev/arm-usb-ocd-h.html
#

interface ftdi
ftdi_device_desc "Olimex OpenOCD JTAG ARM-USB-OCD-H"
ftdi_vid_pid 0x15ba 0x002b

ftdi_layout_init 0x0c08 0x0f1b
ftdi_layout_signal nSRST -oe 0x0200
ftdi_layout_signal nTRST -data 0x0100 -noe 0x0400
ftdi_layout_signal LED -data 0x0800

transport select jtag

jtag newtap auto0 tap    -expected-id 0xf5046093 -irlen 8
jtag newtap nexys2 fpga  -expected-id 0x21c2e093 -irlen 6



adapter_khz   2000

reset_config trst_and_srst

set TAP_TYPE   jtag




