set_io A_CLK B8    
set_io B_CLK U9    
set_io SEG[0]  L18    
set_io SEG[1]  F18    
set_io SEG[2]  D17    
set_io SEG[3]  D16    
set_io SEG[4]  G14    
set_io SEG[5]  J17    
set_io SEG[6]  H14    
set_io DP C17    
set_io AN[0]  F17    
set_io AN[1]  H17    
set_io AN[2]  C18    
set_io AN[3]  F15    
set_io LED[0]  J14    
set_io LED[1]  J15    
set_io LED[2]  K15    
set_io LED[3]  K14    
set_io LED[4]  E16    
set_io LED[5]  P16    
set_io LED[6]  E4    
set_io LED[7]  P4    
set_io SW[0]  G18    
set_io SW[1]  H18    
set_io SW[2]  K18    
set_io SW[3]  K17    
set_io SW[4]  L14    
set_io SW[5]  L13    
set_io SW[6]  N17    
set_io SW[7]  R17    
set_io BTN[0]  B18    
set_io BTN[1]  D18    
set_io BTN[2]  E18    
set_io BTN[3]  H13    
set_io VGARED[0]  R9    
set_io VGARED[1]  T8    
set_io VGARED[2]  R8    
set_io VGAGREEN[0]  N8    
set_io VGAGREEN[1]  P8    
set_io VGAGREEN[2]  P6    
set_io VGABLUE[0]  U5    
set_io VGABLUE[1]  U4    
set_io HSYNC_N T4    
set_io VSYNC_N U3    
set_io PS2C R12    
set_io PS2D P11    
set_io JA_1 L15    
set_io JA_2 K12    
set_io JA_3 L17    
set_io JA_4 M15    
set_io JA_7 K13    
set_io JA_8 L16    
set_io JA_9 M14    
set_io JA_10 M16    
set_io JB_1 M13    
set_io JB_2 R18    
set_io JB_3 R15    
set_io JB_4 T17    
set_io JB_7 P17    
set_io JB_8 R16    
set_io JB_9 T18    
set_io JB_10 U18    
set_io JC_1 G15    
set_io JC_2 J16    
set_io JC_3 G13    
set_io JC_4 H16    
set_io JC_7 H15    
set_io JC_8 F14    
set_io JC_9 G16    
set_io JC_10 J12    
set_io RTS J13    
set_io CTS M18    
set_io RXD N18    
set_io TXD P18    
set_io RS_RX U6    
set_io RS_TX P9    
set_io MEMOE T2    
set_io MEMWR N7    
set_io RAMADV J4    
set_io RAMCS R6    
set_io RAMCLK H5    
set_io RAMCRE P7    
set_io RAMLB K5    
set_io RAMUB K4    
set_io RAMWAIT F5    
set_io FLASHRP T5    
set_io FLASHCS R5    
set_io FLASHSTSTS D3    
set_io MEMADR[1]  J1    
set_io MEMADR[2]  J2    
set_io MEMADR[3]  H4    
set_io MEMADR[4]  H1    
set_io MEMADR[5]  H2    
set_io MEMADR[6]  J5    
set_io MEMADR[7]  H3    
set_io MEMADR[8]  H6    
set_io MEMADR[9]  F1    
set_io MEMADR[10]  G3    
set_io MEMADR[11]  G6    
set_io MEMADR[12]  G5    
set_io MEMADR[13]  G4    
set_io MEMADR[14]  F2    
set_io MEMADR[15]  E1    
set_io MEMADR[16]  M5    
set_io MEMADR[17]  E2    
set_io MEMADR[18]  C2    
set_io MEMADR[19]  C1    
set_io MEMADR[20]  D2    
set_io MEMADR[21]  K3    
set_io MEMADR[22]  D1    
set_io MEMADR[23]  K6    
set_io MEMDB[0]  L1    
set_io MEMDB[1]  L4    
set_io MEMDB[2]  L6    
set_io MEMDB[3]  M4    
set_io MEMDB[4]  N5    
set_io MEMDB[5]  P1    
set_io MEMDB[6]  P2    
set_io MEMDB[7]  R2    
set_io MEMDB[8]  L3    
set_io MEMDB[9]  L5    
set_io MEMDB[10]  M3    
set_io MEMDB[11]  M6    
set_io MEMDB[12]  L2    
set_io MEMDB[13]  N4    
set_io MEMDB[14]  R3    
set_io MEMDB[15]  T1    
set_io EPPASTB V14    
set_io EPPDSTB U14    
set_io EPPWAIT N9    
set_io EPPDB[0]  R14    
set_io EPPDB[1]  R13    
set_io EPPDB[2]  P13    
set_io EPPDB[3]  T12    
set_io EPPDB[4]  N11    
set_io EPPDB[5]  R11    
set_io EPPDB[6]  P10    
set_io EPPDB[7]  R10    
set_io PIO[0]  B4    
set_io PIO[1]  A4    
set_io PIO[2]  C3    
set_io PIO[3]  C4    
set_io PIO[4]  B6    
set_io PIO[5]  D5    
set_io PIO[6]  C5    
set_io PIO[7]  F7    
set_io PIO[8]  E7    
set_io PIO[9]  A6    
set_io PIO[10]  C7    
set_io PIO[11]  F8    
set_io PIO[12]  D7    
set_io PIO[13]  E8    
set_io PIO[14]  E9    
set_io PIO[15]  C9    
set_io PIO[16]  A8    
set_io PIO[17]  G9    
set_io PIO[18]  F9    
set_io PIO[19]  D10    
set_io PIO[20]  A10    
set_io PIO[21]  B10    
set_io PIO[22]  A11    
set_io PIO[23]  D11    
set_io PIO[24]  E10    
set_io PIO[25]  B11    
set_io PIO[26]  C11    
set_io PIO[27]  E11    
set_io PIO[28]  F11    
set_io PIO[29]  E12    
set_io PIO[30]  F12    
set_io PIO[31]  A13    
set_io PIO[32]  B13    
set_io PIO[33]  E13    
set_io PIO[34]  A14    
set_io PIO[35]  C14    
set_io PIO[36]  D14    
set_io PIO[37]  B14    
set_io PIO[38]  A16    
set_io PIO[39]  B16    
set_io USBCLK T15    
set_io USBOE V15    
set_io USBWR V9    
set_io USBPKTEND V12    
set_io USBDIR T16    
set_io USBMODE U15    
set_io USBADR[0]  T14    
set_io USBADR[1]  V13    
set_io USBRDY U13    
set_io USBFLAG V16    
